* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
body{
    p {
        text-decoration: none; /* 去除底線 */
        /* 其他自定義樣式 */
        margin: 0;
      }
    padding: 10px;
    .nav-link{
       
        color: black;
        &:hover{
     color: blue;}
    }
}